
{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ title }}</h1>


<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque cum deserunt doloribus eos, esse est
    excepturi maxime minus nihil nisi non odio optio praesentium provident quod repellat sequi, ut veritatis voluptatem.
    Ab aperiam error expedita neque officiis, placeat quo!</p>
<p>Atque delectus dolor eligendi nemo nesciunt nostrum
    quas quo, repudiandae similique! Autem beatae ea expedita nemo nulla, odio recusandae reiciendis veritatis voluptas
    voluptatem? A cupiditate error ipsam iusto, laudantium odit similique ullam voluptatem. Aspernatur error libero
    quasi repellendus velit vitae.</p>

{% endblock %}
