{% extends 'base.html.twig' %}



{% block body %}

<section class="etudes">
    <etude>
        <h2>Titre de l'étude</h2>
        <div class="metadata">Modifié le 06/04/2020 à 14:00 sur la plage de la Baule</div>
        <div class="content"><img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, et.</p>
            <p>Culpa cumque enim facere nulla officia porro quibusdam sapiente unde?</p>
            <a href="#" class="btn btn-primary">Voir la suite</a></div>
    </etude>
    <etude>
        <h2>Titre de l'étude</h2>
        <div class="metadata">Modifié le 06/04/2020 à 14:00 sur la plage de la Baule</div>
        <div class="content"><img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, nisi!</p>
            <p>Alias cumque, debitis ipsam labore nulla sapiente temporibus unde veritatis?</p>
            <a href="#" class="btn btn-primary">Voir la suite</a></div>
    </etude>
    <etude>
        <h2>Titre de l'étude</h2>
        <div class="metadata">Modifié le 06/04/2020 à 14:00 sur la plage de la Baule</div>
        <div class="content"><img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, nihil!</p>
            <p>Consectetur cupiditate facilis inventore ipsa libero nam, praesentium quidem similique.</p>
            <a href="#" class="btn btn-primary">Voir la suite</a></div>
    </etude>
</section>

{% endblock %}
